.Map-container {
    /*Important for centering target-box via JS*/

    --target-box-size: 100px;
}

.Map-container .target-box {
    box-sizing: border-box;
    background-image: url('../images/icons8-target-100.png');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.116);
    height: var(--target-box-size);
    width: var(--target-box-size);
    border-radius: calc(var(--target-box-size) / 4);
}

.Map-container .target-menu {
    --target-menu-size: 150px;
    background-color: rgba(255, 255, 255, 0.685);
    height: var(--target-menu-size);
    width: var(--target-menu-size);
    border-radius: calc(var(--target-box-size) / 4);
}

.map {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: sticky;
    bottom: 0rem;

    margin: -6rem 3rem;

    /* Make element pass-through */
    pointer-events: none;
}

footer .card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;
    background-color: rgba(245, 222, 179, 0.282);
    transition: all 1s;

    /* Make element pass-through */
    pointer-events: auto;
}

footer .card:hover {
    background-color: rgb(245, 222, 179);
}